{% extends "base.html" %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
    <div id="finish">

    <div class="cont_center">
       <div class="test">
           <a href="check/">
           <i class="fa fa_button fa-question fa-10x"></i></a><br/>
           <span class="text_button">Опросные листы</span>
       </div>
       <div class="test">
           <a href="calc/">
       <i class="fas fa-calculator fa-10x"></i></a><br/>
           <span class="text_button">Расчетная ведомость</span>
       </div>


</div>
   </div>



{% endblock %}