{% extends "base.html" %}
{% load static %}
{% block title %}
Добавление сметы
{% endblock %}
{% block script %}
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="finish">
    <div class="cont_center">
<form action="{% url 'add_estimate' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="text" id="tags">
    <button type="submit">Добавить</button>
</form>

    <script>
  $( function() {
    $( "#tags" ).autocomplete({
      source: '{% url 'autocomplete' %}',
      minLength: 2
    });
  } );
  </script>




    </div>
</div>

{% endblock %}