{% extends "base.html" %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div id="finish">
<h2>Работа со сметной докуменацей</h2>
    <br>
<div><a href="{% url 'add_estimate' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Создать</a></div>
    <br>
<table width="100%" class="display" id="est_table">
    <thead>
    <tr>
        <td>№</td>
        <td>Объект</td>
        <td>Дата</td>
        <td>Статус</td>
    </tr>
    </thead>
    <tbody>

    </tbody>

</table>
<script type="text/javascript">
var oTable;
$(document).ready( function () {
    oTable = $('#est_table').DataTable(
    {
        "pageLength": 10,
         "ajax": "/estimate_json",
         "columns": [
                     {"data": "id"},
                     {"data": "object" },
                     {"data": "date_doc" },
                     {"data": "status_doc"},
                 ],
    }
    );
} );
</script>

</div>










{% endblock %}

